.outerContainer {
  width: 100%;
}

.navBtnContainer {
  width: 50%;
  margin: 20px auto 0px auto;
}

.homeNavBtn {
  display: block;
  text-decoration: none;
  border: solid 3px;
  border-radius: 50px;
  padding: 15px 40px;
  width: 60px;
}
