.outerContainer {
  width: 100dvw;
}

.navBtnContainer {
  width: 50dvw;
  margin: 20px auto 0px auto;
  text-align: center;
}

.homeNavBtn {
  display: inline-flex;
  text-decoration: none;
  border: solid 3px;
  border-radius: 50px;
  padding: 15px 40px;
  width: 60px;
  margin: 10px;
}

.signInBtn {
  color: black;
  border-color: black;
}

.signInBtn:hover {
  background-color: #7d6b9142;
}

.signUpBtn {
  color: #7D6B91;
  border-color: #7D6B91;
}

.signUpBtn:hover {
  background-color: rgba(0, 0, 0, 0.10);
}
