.joinGameContainer {
  margin: auto;
}

.title {
  margin: 20px 0px;
  font-size: 30px;
  text-align: center;
}

.joinGameCard {
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 15px 2px rgb(189, 189, 189);
  padding: 30px;
  width: 250px;
  margin: auto;
}

.gameNameInput {
  display: block;
  margin: 0px auto 20px auto;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
}

.gameNameInput:focus {
  outline: none;
}

.joinBtn {
  color: black;
  text-decoration: none;
  outline: none;
  border: none;
  background: none;
  margin: 0px 13px;
  font-size: 15px;
  font-weight: bold;
}

.joinBtn:hover {
  cursor: pointer;
  opacity: 0.6;
}

.guestBtn {
  color: #7D6B91;
}

.spinnerContainer {
  position: absolute;
  z-index: 1;
  height: 79px;
  background-color: rgba(128, 128, 128, 0.192);
  border-radius: 5px;
  padding: 30px;
  width: 250px;
  margin: auto;
  left: 0;
  right: 0;
}

.loadSpinner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #7D6B91 !important;
}
