
.titleContainer {
  margin-top: 230px;
  margin-left: 50%;
}

.title {
  font-size: 100px;
  color: #7D6B91;
  margin: 0px;
}

.description {
  color: #fff;
  margin-top: 10px;
  font-size: 20px;
}

.characterBkgdImg {
    position: fixed;
    top: 20%;
    z-index: -1;
    height: 70%;
    width: 40%;
    margin-left: 10%;
}
