.joinGameContainer {
  position: fixed;
  bottom: 0;
  width: 100dvw;
  height: 270px;
  /* padding-left: 70%; */
  background-color: whitesmoke;
  border-top-left-radius: 100%;
}

.titleCardContainer {
  width: 50dvw;
  text-align: center;
  padding: 1% 0 0 50%;
}

.title {
  margin: 20px;
  font-size: 30px;
}

.joinGameCard {
  background-color: white;
  margin: 0px auto;
  border-radius: 5px;
  box-shadow: 2px 2px 15px 2px rgb(189, 189, 189);
  padding: 30px;
  width: 300px;
}

.gameNameInput {
  display: block;
  margin: 0px auto 20px auto;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
}

.gameNameInput:focus {
  outline: none;
}

.joinBtn {
  color: black;
  text-decoration: none;
  outline: none;
  border: none;
  background: none;
  margin: 0px 13px;
  font-size: 15px;
  font-weight: bold;
}

.joinBtn:hover {
  cursor: pointer;
  opacity: 0.6;
}

.guestBtn {
  color: #52C5C3;
}
